<!DOCTYPE html>
<html>
	<head>
		<meta charst="UTF-8">
		<title>Linked Learning Bookmarks</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/linked-learning.css"/>
		<link rel="stylesheet" href="./css/modal.css"/>
	</head>
	<body ng-app="linked-learning" ng-controller="LayoutController as vmLayout" >
		<p>{{vmLayout.$routeParams.bookmarkURL}}</p>
		<div class="container" ng-controller="AuthCtrl as vmGoogle">
			<div class="row clearfix">
				<div ng-controller="ButtonsCtrl">
					<div class="btn-group" dropdown>
						<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle tooltip="Sort By..."  tooltip-trigger="mouseenter" tooltip-placement="left" >
						{{sortmessage | uppercase}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" ng-click="setSort('user')">USER</a></li>
							<li><a href="#" ng-click="setSort('title')">TITLE</a></li>
							<li><a href="#" ng-click="setSort('date')">DATE</a></li>
							<li class="divider"></li>
							<li><a href="#" ng-click="setSort('url')">URL</a></li>
						</ul>
					</div>
					<div class="btn-group" tooltip="Order By..."  tooltip-trigger="mouseenter" tooltip-placement="bottom" >
						<label class="btn btn-primary glyphicon glyphicon-sort-by-attributes" ng-model="radioModel" btn-radio="'ascending'" ng-click="updateSort()"></label>
						<label class="btn btn-primary glyphicon glyphicon-sort-by-attributes-alt" ng-model="radioModel" btn-radio="'descending'" ng-click="updateSort()"></label>
					</div>
					
					<div class="panel panel-primary" ng-repeat="item in collection | index | orderBy:prefix + sort"  style="width: 200px; float: left; margin: 10px">
						<div class="panel panel-heading">{{item.title}}</div>
						<div class="panel panel-body">
							{{item.url}} <br/>
							INDEX {{$index}}
							<br/>
							{{item.index}}

						</div>
						<div class="panel panel-footer">{{item.user}} - on {{item.date | date }}</div>
					</div>
				</div>
				</div> <!--row clearfix -->
				</div> <!-- container -->
				<!-- Angular Scripts -->
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.js"></script>
				
				<!-- Modules -->
				<script src="./app/modules/angular-google-plus.js"></script>
				<script src="./app/modules/ui-bootstrap.js"></script>
				<script src="./app/modules/ui-bootstrap-tpls.js"></script>
				<!-- Linked-Learning App -->
				<script src="./app/linked-learning.app.js"></script>
				<script src="./app/user/key.config.js"></script>
				<script src="./app/bookmark.factory.js"></script>
				<script src="./app/listings/listings.controller.js"></script>
				<script src="./app/layout/layout.controller.js"></script>
				<script src="./app/user/user.controller.js"></script>
				<script src="./app/user/user.directives.js"></script>
				<script src="./app/user/user.factory.js"></script>
				<script src="./app/bookmark/bookmark.controller.js"></script>
				<script src="./app/comments/comments.controller.js"></script>
				<script src="./app/bookmark/bookmark.filter.js"></script>
				<script>
						angular.module('linked-learning').filter('index', function () {
							    return function (array, index) {
							        if (!index)
							            index = 'index';
							        for (var i = 0; i < array.length; ++i) {
							            array[i][index] = i;
							        }
							        return array;
							    };
							});
						angular.module('linked-learning').controller('ButtonsCtrl', function ($scope) {
						$scope.radioModel = 'ascending';
						$scope.prefix = "";
						$scope.collection = [];
						$scope.item = {};
						$scope.sort = "";
						$scope.sortmessage = "Sort By";
						
						$scope.toggleDropdown = function($event) {
							$event.preventDefault();
							$event.stopPropagation();
							$scope.status.isopen = !$scope.status.isopen;
						};
						
						$scope.fill = function() {
								$scope.item.title = 'A'
								$scope.item.url = 'www.d.com'
								$scope.item.user = '1'
								$scope.item.date = Date.now()
								$scope.collection.push($scope.item)
								$scope.item = {}
								$scope.item.title = 'B'
								$scope.item.url = 'www.c.com'
								$scope.item.user = '4'
								$scope.item.date = Date.now()
								$scope.collection.push($scope.item)
								$scope.item = {}
								$scope.item.title = 'C'
								$scope.item.url = 'www.b.com'
								$scope.item.user = '3'
								$scope.item.date = Date.now()
								$scope.collection.push($scope.item)
								$scope.item = {}
								$scope.item.title = 'D'
								$scope.item.url = 'www.a.com'
								$scope.item.user = '2'
								$scope.item.date = Date.now()
								$scope.collection.push($scope.item)
											$scope.item = {}
						};
						
						$scope.fill();
						console.log($scope.collection)

						$scope.setSort = function(sortBy) {
								// var prefix = "";
								// if ($scope.radioModel == 'descending')
								// 	prefix = "-";

								$scope.sort = sortBy;
								$scope.sortmessage = sortBy;
								console.log($scope.sort);
						}

						$scope.updateSort = function() {
							if ($scope.radioModel == 'descending')
								$scope.prefix = "";
							else
								$scope.prefix = "-";
						}
						});
				</script>
			</body>
		</html>