<!DOCTYPE html>
<html>
	<head>
		<meta charst="UTF-8">
		<title>Linked Learning Bookmarks</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/comments.css"/>
		<link rel="stylesheet" href="./css/validation.css"/>
	</head>
	<body ng-app="linked-learning" ng-controller="LayoutController as vmLayout" >
		<div class="container" ng-controller="BookmarkController as vmBookmark" >
			<div class="row clearfix" ng-controller="CommentsController as vmComments">
				<div class="col-md-12 column">
					<div ng-include src="'./templates/navbar.html'"></div>
				</div>
				<div class="col-md-8 column">
					<div ng-include src="'./templates/view-listings.html'" ng-if="vmLayout.pageL == 'listings'"></div>	
				</div> <!-- column -->
					<!-- RH -->
				<div class="col-md-4 column">
					<div ng-include src="'./templates/add-bookmark.html'" ng-if="vmLayout.pageR == 'add'"></div>
					<div ng-include src="'./templates/view-comments.html'" ng-if="vmLayout.pageR == 'comments'"></div>
				</div> <!-- column -->
			</div> <!-- row clearfix -->
		</div> <!-- container -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>

		<script src="./app/linked-learning.app.js"></script>
		<script src="./app/bookmark/bookmark.controller.js"></script>
		<script src="./app/layout/layout.controller.js"></script>
		<script src="./app/comments/comments.ctrl.js"></script>
		<script src="./app/details-page/detail.ctrl.js"></script>
		<script src="./app/details-page/detail.filter.js"></script>
	</body>
</html>