<!DOCTYPE html>
<html>
  <head>
    <title>Google Login Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.js"></script>
    <link rel="stylesheet" href="./css/modal.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>
  <body ng-app="linked-learning" ng-controller="AuthCtrl">
    <a href="javascript:void(0);" ng-click="logout()">Logout</a>
    <div ng-controller="CookieControl">
      <p>{{myFruit}}</p>
      <p>{{name}}</p>
      <modal-dialog show='modalShown' width='550px'>
        <img src="./images/logo.jpg" alt="Linked Learning Collaborative Bookmarks"  class="img-reponsive center-block" />
        <br />
        <a href="javascript:void(0);" ng-click="login()"><img src="./images/Red-signin_Long_base_44dp.png" alt="Sign in with Google+" class="img-reponsive center-block"/></a>
      </modal-dialog>
    </div>

    <script src="./app/angular-google-plus.js"></script>
    <script src="./app/linked-learning.app.js"></script>
    <script src="./app/user/user.controller.js"></script>
    <script src="./app/user/user.directives.js"></script>
    <script src="./app/bookmark/bookmark.controller.js"></script>
    <script src="./app/layout/layout.controller.js"></script>
    <script src="./app/comments/comments.ctrl.js"></script>
    <script src="./app/details-page/detail.ctrl.js"></script>
    <script src="./app/details-page/detail.filter.js"></script>
  </body>
</html>
