<h3>Add Bookmark</h3>
<form name="addBookmark" class="form-horizontal" role="form" ng-submit="vmListing.addBookmark(vmListing.newBookmark)" novalidate>
	<div class="form-group">
		<div class="col-sm-12">
			<input type="text" class="form-control input" id="inputURL" ng-model="vmListing.newBookmark.url" placeholder="URL (required)" ng-pattern="vmListing.urlRegEx" name = "url" required/>
			<h5 class='text-danger' ng-show="addBookmark.url.$invalid && addBookmark.url.$dirty">URL INVALID</h5>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<input type="text" class="form-control input" id="inputTitle" ng-model="vmListing.newBookmark.title" placeholder="Title (required)" name="title" required/>
			<h5 class='text-danger' ng-show="addBookmark.title.$invalid && addBookmark.title.$dirty">TITLE REQUIRED</h5>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<textarea rows="3" class="form-control" id="inputdescription" ng-model="vmListing.newBookmark.description" placeholder="Description"></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<button class="btn btn-success pull-right" type="submit" ng-disabled="addBookmark.$invalid" ng-click="addBookmark.$setPristine()"><span class="glyphicon glyphicon-plus-sign"></span> Add
			</button>
		</div>
		<p>{{vmListing.status}}</p>
	</div>
</form>