<h2 class="pull-left">Linked Learning Listings</h2>
<div class="btn-group pull-right">
	<button class="btn btn-default" type="button" ng-click="vmLayout.returnToListings()">
		<em class="glyphicon glyphicon-home"></em> Listings
	</button>
	<button class="btn btn-default" type="button" ng-click="vmLayout.switchToAddBookmark()">
		<em class="glyphicon glyphicon-pushpin"></em> Add Bookmark
	</button>
	<button class="btn btn-default" type="button" ng-click="vmGoogle.logout()">
		<em class="glyphicon glyphicon-log-out"></em> Logout
	</button>
</div>