<div ng-controller="ListingController as vmListing">
	<div class="col-md-8 column scrollit" >
		<p>{{vmListing.status}}</p>
		<form role="form" class="form-inline">
			<div class="form-group">
				<label for="bookmarkSearch"><span class="glyphicon glyphicon-search">&nbsp;</span></label><input type="text" class="form-control" id="bookmarkSearch" ng-model="vmListing.search" size="50" />
			</div>
			<div class="pull-right">Displaying {{(vmListing.bookmarks|filter: vmListing.search).length}} out of {{vmListing.bookmarks.length}} bookmarks</div>
		</form> <br/>
		<div>
		  <accordion close-others="false">
		    <accordion-group ng-repeat="bookmark in vmListing.bookmarks | filter: vmListing.search | orderBy: 'title'" class="panel-primary" is-open="bookmark.open">
		   		<accordion-heading>
		            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': bookmark.open, 'glyphicon-chevron-right': !bookmark.open}"></i>
		          	<span class='glyphicon glyphicon-bookmark'></span> <span>{{bookmark.title}}</span>
		        </accordion-heading>
		      	<a ng-href="{{'#/' + bookmark.url}}"><h4>{{bookmark.url}}</h4></a>
				<p>{{bookmark.description}} </p>
				<div class="accordian-footer">
					Added: {{bookmark.date | date}} by {{bookmark.user}}
					&nbsp;&nbsp;
					<button class="btn btn-info pull-right btn-xs" ng-click="vmListing.loadComments($index, vmLayout)">
					<span class="glyphicon glyphicon glyphicon-comment"> ({{ bookmark.comments.length }})</span>
					</button>
				</div>
		    </accordion-group>
		  </accordion>
		</div>
	</div> <!-- column -->
		<!-- RH -->
	<div class="col-md-4 column fixed">
		<div>&nbsp;</div>
		<div ng-include src="'./templates/add-bookmark.html'" ng-if="vmLayout.pageRight == 'add'"></div>
		<div ng-include src="'./templates/view-comments.html'" ng-if="vmLayout.pageRight == 'comments'" ng-controller="CommentsController as vmComments"></div>
	</div> <!-- column -->
</div>
