
<div ng-controller="DetailController as detail">
	{{detail.urlParameter}}
	<div class='container-fluid'>
		<div class='col-md-8'>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">{{detail.bookmark.title}}</h3>
				</div>	
				<div class='panel-body'>
					<iframe width="100%" height="750" ng-src="{{detail.bookmark.url | trust}}"></iframe>
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
			<div ng-include="'./templates/view-comments.html'" ng-controller="CommentsController as vmComments"></div>
		</div>
	<div>
</div>